body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

.container {
    display: grid;
    grid-template-columns: 200px 1fr;  
    grid-template-rows: auto 1fr auto; 
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
    height: 100vh; 
}

header {
    grid-area: header;
    background: teal;
    color: white;
    padding: 20px;
    text-align: center;
}

aside {
    grid-area: sidebar;
    background: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

aside a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

main {
    grid-area: main;
    padding: 20px;
    background: #fff;
}

footer {
    grid-area: footer;
    background-color: #001845;
    padding: 50px 100px;
    color: #F1F1F1;
}

